<div class="card">
    <div class="card-header">
    <a href="" class="card-title">{{title}}</a>
    </div>

    <div class="card-content">
    <p class="content">{{post_body}}</p>
    </div>

    <div class="card-footer">
    <a href="https://github.com/{{user.github}}"><i class="GITHUB-ICON"></i></a>
    <!-- HANDLEBARS DATE -->
    <a href="'/post/{{id}}">{{comments.length}}</a>
    </div>
</div>