<div class="card">
    <div class="card-header">
        <a href="/post/{{id}}" class="card-title">{{title}}</a>
    </div>

    <div class="card-content">
        <p class="content">{{post_body}}</p>
    </div>

    <div class="card-footer">
        <b>{{user.username}}</b>   |
        <a href="https://github.com/{{user.github}}" class="github-icon"><i class="fa-brands fa-github"></i></a> |   
        {{format_date date_created}} |
        <a href="/post/{{id}}">{{comments.length}} Comments</a>
    </div>
</div>